/* CARDS FORMAT */
.card {
  width: 200px;
  height: 200px;
  margin: 10px;
  border : 1px solid #FBCB0B;
}

.myCard {
  width: 600px;
  height: 200px;
  margin:20px 0;
  padding: 5px;
  border : 1px solid #FBCB0B;
  border-radius: 10px;
}

/* INSIDE MY CARD */

.myActions {
  width: 25%;
  justify-content: space-evenly;
}

.myDetails {
  width: 75%;
  margin: 0 10px;
}

.btn-send {
  width: 100px;
  border: 1px solid #35AC68;
}

.btn-modify {

}

/* INSIDE A CARD */

.cardTitle {
  width: 100%;
  justify-content: space-evenly;
  margin: 5px;
}

.userName {
  height: 30px;
  color: #ED6C72;
}

.userDiet {
  height: 30px;
  color: #35AC68;
}