/* CONTAINER */

.cardsContainer {
  margin-top: 50px;
  width: 900px;
  display: flex;
  justify-content: center;

}


/* CARDS FORMAT */
.cardSmall {
  width: 200px;
  height: 200px;
  margin: 10px;
  border : 1px solid #FBCB0B;
  border-radius: 10px;
}

.myCardForm {
  width: 600px;
  margin: 20px;
  padding: 10px;
  border : 1px solid #FBCB0B;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

/* INSIDE MY CARD */

.myActions {
  width: 600px;
  margin: 20px;
  justify-content: center;
}

.myDetails {
  width: 600px;
  margin: 0 10px;
}

.btn-send {
  width: 200px;
  margin: 0 10px;
  border: 1px solid #35AC68;
}

.btn-modify {
  width: 200px;
  margin: 0 10px;
  border: 1px solid #2169D9;
}

/* INSIDE A CARD */

.cardTitle {
  width: 100%;
  justify-content: center;

  margin: 5px;
}

.userName {
  height: 30px;
  color: #ED6C72;
}

.userDiet {
  height: 30px;
  color: #35AC68;
}

.margin {
  margin: 5px;
}