/* GENERAL CSS */
.contain {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* commun stuffs */
.flex {
  display: flex;
}

.flexrow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}
