/* GENERAL CSS */
.contain {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}


/* commun stuffs */

.flex {
  display: flex;
}

.flexrow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.textalign {
  text-align: center;
  margin: 0 0 40px 0;
}

/* SIGNIN / SIGNUP */

.signForm {
  width: 400px;
  margin: 40px 0;
  padding: 40px;
  border: 1px solid #FBCB0B;
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
}
